:host {
    width: 100%;
    display: flex;
    justify-content: center;

    
    main.content-area {
        padding: .1rem 1rem 1rem 1rem;
    }

    nav {
        min-width: 12rem;
        max-width: 15rem;
    }


    /deep/ .documentation-body{

        ul, ol {
            margin-left: 1rem;
        }

        h1, h2, h3, h4, h5 {
            color: black;
            margin-top: 1rem !important;
        }

         p {
            margin-top: .5rem;
            font-size: .65rem;
         }
    }

}