/deep/ .main-container.open-overflow-menu {
    .header-nav {
        flex:0 0 auto;
        justify-content: flex-start;
    }
}

/deep/ .main-container.open-hamburger-menu {
    clr-header{
        position: relative !important;
        z-index: unset !important;
    }
}

@media screen and (max-width : 767px) {
    :host.active-search {
        .branding {
            min-width: 0rem;
            
            > a {
                display: none !important;
            }

            clr-icon {
                cursor : pointer;
                display: inline-block;
                margin-top: 18px;
                margin-left: 10px;
            }
        }

        form.search {
            position: static;

            > label {
                width: 100%;
            }

            .dropdown-menu {
                position: fixed;
                top: 58px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                max-height: 100vh;
            }

            input#portal-search {
                display: inline-block !important;
                width: 85%;
            }
        }
    }
}

:host{
    display: flex;
    width: 100%;

    form.search {
        flex: 1 0 auto;   
        max-width: initial;
        opacity: 1;

        .dropdown-menu {
            visibility: visible;
            top:calc(100% - 2px);
            max-width: unset;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            max-height: calc(100vh - 75px);
            overflow: scroll;
            display: block;

            button {
                max-height: 50px;
                white-space: normal;
                line-height: 1rem;
                height: unset;
                margin-bottom: 20px;             
            }
        }
    }

    .header-nav{
        flex:0 1 auto;
        justify-content: flex-end;

        clr-dropdown{
            position: relative !important;
            margin: 0px;
            padding: 0px;

            a:before{
                background: none;
            }

            clr-dropdown-menu.ng-star-inserted {
                top: 60px !important;
                color: black;
                transform: initial !important;
            }
        }
    }

    .branding {

        padding: 0px;
        min-width: 11rem;

        img {
            margin:0px;
            margin-top:-9px;
            height: 80px; 
            width:auto
        }

        h3 {
            line-height:60px;
            color:white;
            display:inline-block;
            margin-left:20px;
            margin:0px;
        }

        clr-icon {
            display: none;
        }
    }

    #portal-search{
        margin-left: 10px;
    }

    @media screen and (min-width: 991px){
        #portal-search{
            width : 350px;
        }
    }

    @media screen and (min-width: 769px) {
        clr-icon[shape=user] {
            left: 30px;
            top: calc(50% - 1px);
        }

        clr-dropdown {
            span.nav-text{
                padding : 0 .1rem 0 2rem;
                display: inline-block;
                min-width: 6.35rem;
            }
        }
    }

    @media screen and (max-width: 768px){
        .branding { 
            padding: 0px !important;
            margin : 0px !important;
            max-width: 11rem;

            h3 {
                color: #1a9ca5;
                font-size:20px;
            }
        }

        .header-nav{
            flex: 0 0 auto;
            justify-content: flex-start;

            clr-dropdown > a {
                width: 100%;
                flex: 1 0 auto;
            }
        }
    }
}