<nav  class="subnav">
  <ul  class="nav">
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'docs/product'" routerLink="/docs/product">Products</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'docs/api'">APIs</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'blog/posts'" routerLink="/blog/posts">Blog</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'blog/documentation'" routerLink="/blog/documentation">Documentation</a>
    </li>
  </ul>
</nav>