<nav  class="subnav">
  <ul  class="nav">
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'docs/product'" routerLink="/docs/product">Products</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'docs/api'" routerLink="/docs/api/search">APIs</a>
    </li>
    <li  class="nav-item">
      <!-- TODO: Change routing to reflect forum!!! -->
      <a  class="nav-link" [activeLink]="'blog/(list|post)'" routerLink="/blog/list">Forum</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link" [activeLink]="'blog/documentation'" routerLink="/blog/documentation/main">Documentation</a>
    </li>
  </ul>
</nav>