:host {
    width: 100%;
    display: flex;
    justify-content: center;

    main.content-area {
        padding: .1rem 1rem 1rem 1rem;
    }
    nav {
        min-width: 12rem;
        max-width: 12rem;
    }
}