:host {
    a.nav-link {
        display: inline;
    }

    ul.nav-list.documents {
        margin-bottom : 10px;
    }

    section.nav-group {

        margin-top: .5rem;

        label {
            margin-bottom:0px;
        }

        button {
            margin-top: -1px;
        }

        ul.nav-list {
            padding: 0rem 0 0 0.5rem;

            li a.nav-link{
                padding: .16667rem 0 .16667rem 1.5rem;
                display: inline-block;
                line-height: 0.9rem;
            }
        }
    }
}