<div class="row bottom-spacer-10" *ngFor="let pathParam of params">

  <div class="col-sm-3">
      <label [class.required]="pathParam.required">
          <b>{{ pathParam.name }}</b>
      </label>
      <div>{{ pathParam.type }}</div>
      <div>(path)</div>
  </div>
  <div class="col-sm-9">
      
      <div class="bottom-spacer-10">{{ pathParam.description }}</div>

      <section class="form-block" *ngIf="edit">
          <div class="form-group">
              <input type="text" [attr.placeholder]="pathParam.name">
          </div>
      </section>

  </div>
</div>