:host {
    .form-group.row {
        div {
            label {
                width: 100%;

                clr-icon {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                }

                input {
                    width : 100%;
                    padding-left: 30px;
                }
            }
        }
    }
}