:host {
    .form-group.row {
        div {
            label {
                width: 100%;
                display: flex;

                input {
                    width : 100%;
                }

                button {
                    margin-left: 5px;
                    margin-top: -6px;
                }
            }
        }
    }
}