:host {

    label {
        input {
            min-width: 10rem;
        }
    }

    .fixed-footer {
        width : calc(100% - 12rem) !important;

        @media screen and (max-width : 768px) {
            width : 100% !important;
        }
    }

    documentation-area-selector {
        margin-right: 75px;
        display:block;
    }
}