<main class="content-container content-center">
  <form [formGroup]="form" class="has-fixed-footer" (ngSubmit)="handleSubmit()">

    <h3 class="bottom-spacer-10">Add Blog Post</h3>

    <section class="form-block">

      <div class="form-group">
        <label for="title" class="required">Title</label>
        <label [className]=" ( form.get('title').invalid && ( submitted || form.get('title').dirty) ) ? errorClasses + ' tooltip-top-right' : '' ">
          <input id="title" type="text" name="title" placeholder="Enter a title" formControlName="title" maxlength="100"/>
          <ng-container *ngIf="( form.get('title').invalid && ( submitted || form.get('title').dirty))">
              <span *ngIf="form.get('title').errors.required" class="tooltip-content">This field cannot be empty!</span>
              <span *ngIf="form.get('title').errors.maxlength" class="tooltip-content">Title cannot exceed 100 characters: Currently using {{ form.get('title').value.length }}</span>
          </ng-container>
        </label>
      </div>

      <div class="form-group">
        <label for="author" class="required">Author</label>
        <label>
          <input id="author" type="text" name="author" class="input-sm" placeholder="Enter an author" formControlName="author" disabled="disabled"
          />
        </label>
      </div>

      <div class="form-group">
        <label for="publicationDate" class="required">Publication Date</label>
        <label [className]=" ( form.get('publicationDate').invalid && ( submitted || form.get('publicationDate').dirty) ) ? errorClasses + ' tooltip-top-right' : '' ">
          <input type="date" id="publicationDate" name="publicationDate" class="input-xs" [ngModel]="article.publicationDate | date:'yyyy-MM-dd'"
            formControlName="publicationDate" />
          <ng-container *ngIf="( form.get('publicationDate').invalid && ( submitted || form.get('publicationDate').dirty))">
              <span *ngIf="form.get('publicationDate').errors.required" class="tooltip-content">This field cannot be empty!</span>
          </ng-container>
        </label>
      </div>

      <div class="form-group">
        <label for="summary" class="required">Summary</label>
        <label for="summary" [className]=" (form.get('summary').invalid && (submitted || form.get('summary').dirty)) ? errorClasses + ' textarea' : '' " style="flex-grow: 1;">
          <textarea id="summary" rows="3" type="text" name="summary" placeholder="Enter a summary blurb" formControlName="summary">
          </textarea>
          <ng-container *ngIf="( form.get('summary').invalid && ( submitted || form.get('summary').dirty))">
              <span *ngIf="form.get('summary').errors.required" class="tooltip-content">This field cannot be empty!</span>
              <span *ngIf="form.get('summary').errors.maxlength" class="tooltip-content">Summary cannot exceed 400 characters: Currently using {{ form.get('summary').value.length }}</span>
          </ng-container>
        </label>
      </div>

      <div class="bottom-spacer-30 inline full">
        <label class="bottom-spacer-5" for="content">Article Content:</label>
        <div for="content">
          <editor id="content" placeholder="Artcle Content" [initialValue]="article.content" [init]="tinymceConfig" formControlName="content">
          </editor>
        </div>
      </div>

      <div class="bottom-spacer-30 inline full">
        <div class="toggle-switch">
          <input type="checkbox" id="allowComments" formControlName="allowComments">
          <label for="allowComments">Allow Comments?</label>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <label [className]=" ( form.get('category').invalid && ( submitted || form.get('category').dirty) ) ? errorClasses + ' tooltip-top-right select' : '' ">
          <select name="category" formControlName="category">
            <option value="">Select a Category</option>
            <option [value]="category" *ngFor="let category of categories">{{ category }}</option>
          </select>

          <ng-container *ngIf="( form.get('category').invalid && ( submitted || form.get('category').dirty))">
            <span *ngIf="form.get('category').errors.required" class="tooltip-content">A category must be selected</span>
          </ng-container>
        </label>
      </div>

      <div *ngIf=" form.get('category').value === 'Documentation' " class="form-group">
        <label for="subCategory">Sub Category</label>
        <label [className]=" ( form.get('subCategory').invalid && ( submitted || form.get('subCategory').dirty) ) ? errorClasses + ' tooltip-top-right select' : '' ">
            <select name="subCategory" formControlName="subCategory">
            <option value="">Select a Sub Category</option>
            <option [value]="subCategory" *ngFor="let subCategory of subCategories">{{ subCategory }}</option>
          </select>
          <ng-container *ngIf="( form.get('subCategory').invalid && ( submitted || form.get('subCategory').dirty))">
            <span *ngIf="form.get('subCategory').errors.required" class="tooltip-content">A category must be selected</span>
          </ng-container>
        </label>
      </div>

      <div class="form-group">
        <label for="tags">
          Tags
          <clr-tooltip>
            <clr-icon clrTooltipTrigger shape="info-circle" size="16"></clr-icon>
            <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
              <span>Type a tag (keyword) and press "Enter" to add it</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </label>
        <label style="flex: 1 1 auto;">
          <ng-select [items]="form.get('tags').value" [addTag]="true" [hideSelected]="true" multiple="true" bindLabel="label" formControlName="tags">
          </ng-select>
        </label>
      </div>

    </section>

    <div class="fixed-footer">

      <div class="fixed-footer-wrapper">

        <div class="row">
          <div class="col-sm-4">
            <button type="submit" class="btn btn-success-outline pull-left">
              <clr-icon shape="check"></clr-icon> Save Blog Post
            </button>
          </div>

          <div class="col-sm-4 text-center">
            <button type="button" class="btn btn-danger-outline" *ngIf="mode === 'edit'" (click)="handleDelete()">
              <clr-icon shape="times-circle"></clr-icon> Delete Blog Post
            </button>
          </div>
          <div class="col-sm-4">
            <a type="submit" class="btn btn-danger-outline pull-right" routerLink="../">
              <clr-icon shape="times"></clr-icon>
              Cancel
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>