:host {
    ul.nav-list {
        padding: 0rem;
    }

    section {
        label {
            margin-bottom: 10px;
            
            button {
                margin: 0px 10px 0px 0px;
            }
        }
    }
}