.main-container{
    margin-top:60px;
    overflow:auto;
    padding-bottom:60px;

    clr-header{
        position: fixed;
        width: 100%;
        z-index: 1001;
        top:0px;
    }

    .sidenav {
        min-width: 200px;
    }

    .nav-list{
        padding: 0px;
    }

    /deep/ .container { 
        margin-bottom : 20px;
        padding-left : .15rem;
        padding-right : .15rem;
    }

    @media screen and (min-width: 576px){
        /deep/ .container {
            width : auto;
        }
    }
}