<!-- <div>
  <span class="spinner spinner-lg" style="
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 10px);
    ">
  </span>
  <div id="loading-indicator" style="
        position: fixed;
        top: 0px;
        bottom: 0px;
        background-color: black;
        left: 0px;
        right: 0px;
        background-color: #000000;
        opacity: 0.5;
        z-index: 1100;
    ">
  </div>
</div> -->

<clr-main-container>
  <clr-header class="header-5">

    <dev-portal-header
      title="Pearson Dev Portal"
    >

    </dev-portal-header>
    
  </clr-header>
  <div class="content-container">
    
      <router-outlet></router-outlet>

  </div>
</clr-main-container>