:host { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 100%;

    main {
        
        display: inline-block;
        flex: unset;
        width: 100%;
        padding: .5rem .5rem 0 .5rem !important;
        overflow: hidden;

        form{
            width: 100%;
        
            .form-group {

                @media screen and (min-width : 768px){
                    padding-left: 5.5rem;
                }

                label {

                clr-tooltip {
                    position: absolute !important;
                    margin-top: -5px;
                    margin-left: 2px;
                }

                    input {
                        min-width: 20rem;

                        @media screen and (max-width : 767px) {
                            max-width: 10rem !important;
                            min-width: 10rem !important;
                        }

                        &.input-md {
                            min-width: 15rem;
                        }

                        &.input-sm {
                            min-width: 10rem;
                        }

                        &.input-xs {
                            min-width: 5rem;
                        }
                    }
                }
            }
        }
    }
}