<div class="card">
  <div class="card-header">
    {{ product.name }}
  </div>
  <div class="card-block">
    <div class="card-title">

    </div>
    <div class="card-text">
      {{ product.description }}
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-sm btn-link" style="float:left"><clr-icon shape="talk-bubbles"></clr-icon> Discuss</a>
    <a class="btn btn-sm btn-link" style="float:right" [routerLink]=" '/docs/product/' + product.id "><clr-icon shape="help-info"></clr-icon> View Product</a>
  </div>
</div>