:host {
    overflow: auto;

    ul.nav-list {
        padding: 0rem;

        li {

            a {
                padding: .3rem 0 .3rem .5rem;

                clr-icon{
                    margin-left: 5px;
                    margin-top: -4px;
                }
            }
        }
    }

    section {
        #add-documentation-area-btn {
            width : 100%;
        }

        label {
            margin-bottom: 10px;
            
            button {
                margin: 0px 10px 0px 0px;
            }
        }
    }
}