<section id="blog-list" class="sidenav-content">

  
    <section class="nav-group collapsible">
      <!-- <input id="apis" type="checkbox">
      
      <label for="apis">
        APIs 
        <button class="btn btn-sm btn-link pull-right" (click)="addApi($event)">
          Add <clr-icon shape="plus-circle" title="Add API"></clr-icon>
        </button>
      </label> -->

      <h4 class="text-center bottom-spacer-10">Recent Articles</h4>
  
      <ul class="nav-list">
        <li>
          <a class="nav-link">
            <h4 class="bottom-spacer-5">API Authentication Guidelines</h4>
            <p class="summary">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
            </p>
            <div class="byline">
              <span class="pull-left" >Derek Carter</span>
              <span class="pull-right">July 4th, 2018</span>
            </div>
          </a>
        </li>

        <li>
            <a class="nav-link">
              <h4 class="bottom-spacer-5">API Authentication Guidelines</h4>
              <p class="summary">
                  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                  eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
              </p>
              <div class="byline">
                <span class="pull-left" >Derek Carter</span>
                <span class="pull-right">July 4th, 2018</span>
              </div>
            </a>
          </li>

          <li>
              <a class="nav-link">
                <h4 class="bottom-spacer-5">API Authentication Guidelines</h4>
                <p class="summary">
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
                </p>
                <div class="byline">
                  <span class="pull-left" >Derek Carter</span>
                  <span class="pull-right">July 4th, 2018</span>
                </div>
              </a>
            </li>
        <!-- <li *ngFor="let api of apisFiltered">
          <a class="nav-link" routerlinkactive="active" [routerLink]="'/docs/api/' +  api.id " [ngClass]="{'active' : (selectedApiId == api.id) }">
            {{ api.name }}
          </a>
        </li> -->
      </ul>
    </section>
  
  </section>