:host {
    form {

        .form-group {

            label {

                input {
                    width: 34.75rem;
                    min-width: auto;
                }
            }

            .mce-tinymce {
                widows: 90%;
            }
        }
    }
}