<ng-container *ngFor="let path of paths; let i = index">
    <div class="alert alert-info path"
    [ngClass]="{
        'alert-danger' : path.verb === 'delete',
        'alert-success' : path.verb === 'post',
        'alert-primary': path.verb === 'get',
        'alert-warning' : path.verb === 'put'
        }"
    >
        <div class="alert-items" (click)="path.open = !path.open">
            <div class="alert-item static path-text">
                <div class="alert-icon-wrapper verb">
                    <button class="btn btn" [ngClass]="{
                    'btn-danger' : path.verb === 'delete',
                    'btn-success' : path.verb === 'post',
                    'btn-primary': path.verb === 'get',
                    'btn-warning' : path.verb === 'put'
                    }">{{ path.verb | uppercase }}</button>
                </div>

                <span class="alert-text path"><h5>{{ path.path }}</h5></span>
            </div>
        </div>

        <div class="swagger-definition" [@slideInOut]="path.open">
            
            <div class="row section parameter-row">
                <div class="col-sm-3">Parameters</div>
                <div class="col-sm-9">
                    <button class="btn btn-sm pull-right try-it-out"  [ngClass]="{'btn-primary' : ! path.tryItOut, 'btn-danger' : path.tryItOut}" (click)="path.tryItOut = ! path.tryItOut">
                        <span *ngIf="! path.tryItOut">Try It Out</span>
                        <span *ngIf="path.tryItOut">Cancel</span>
                    </button>
                </div>
            </div>

            <hr/>

            <body-params class="bottom-spacer-20" *ngIf="path.bodyParam" [path]="path" [edit]="path.tryItOut"></body-params>

            <path-params *ngIf="path.pathParams" [params]="path.pathParams" [edit]="path.tryItOut"></path-params>

            <query-params *ngIf="path.queryParams" [params]="path.queryParams" [edit]="path.tryItOut"></query-params>

        </div>
    </div>
</ng-container>