:host {
    /deep/ clr-stack-block.api-content {
        > dt.stack-block-label {
            display: none !important;
        }
    }

    .edit-page-btn {
        position: absolute;
        right: 0px; 
        top: 60px;
    }
}