:host {

    #api-key {
        position: absolute !important;
        right: 40px;
    }

    h2 {
        position: relative;
        button {
            margin-left : 10px;
        }
    }

    /deep/ .api-documentation-content{
        p {
            margin : 0px;
        }

        margin-bottom : 20px;
    }

    /deep/ #swagger-ui {
        ul > li > p {
            margin:0px !important;
            display: inline-block;
        }
    }

    #bypass-cors-div {
        position: absolute;
        left: 300px;
        
        label {
            font-size: 20px;

            &:after {
                top: .65rem;    
            }
            &:before {
                top: .6rem;
            }
        }
    }
}