<div class="row">
    <div class="col-sm-3"><label [class.required]="path.bodyParam.required"><b>Body</b></label></div>
    <div class="col-sm-9">

        <div class="bottom-spacer-10"><b>{{ path.bodyParam.description }}</b></div>

        <div class="bottom-spacer-10">
            <div class="btn-group btn-sm">
                <div class="radio btn"><!-- ngModel usage was causing issues -->
                    <input type="radio" [attr.name]=" id "  [attr.id]=" 'e' + id " [checked]="path.bodyView === 'example'" (click)=" path.bodyView = 'example' " value="example">
                    <label [attr.for]=" 'e' + id ">Example Value</label>
                </div>
                <div class="radio btn"><!-- ngMOdel usage was causing issues -->
                    <input type="radio" [attr.name]="  id " [attr.id]=" 'm' + id " [checked]="path.bodyView === 'model'" (click)=" path.bodyView = 'model' "  value="model">
                    <label [attr.for]=" 'm' + id ">Model</label>
                </div>
            </div>
        </div>

        <div>
            <pre *ngIf=" path.bodyView === 'model' ">{{ path.bodyModel | json }}</pre>
            <textarea *ngIf=" path.bodyView === 'example' " style="min-height: 150px" [disabled]="! edit">{{ path.bodyObject | json }}</textarea>
        </div>
    </div>
</div>