<section class="sidenav-content">

  <section class="nav-group collapsible">
    <input id="tab1" type="checkbox">

    <label for="tab1">API Collections 
      <button class="btn btn-sm btn-link pull-right" (click)="addProduct($event)" [hasPermission]="[permissions.PRODUCT.CREATE]">
          Add <clr-icon shape="plus-circle" title="Add Product"></clr-icon>
        </button>
    </label>

    <ul class="nav-list">
    
      <li *ngIf="! products.length" style="padding:0rem .25rem;">
        <clr-alert [clrAlertType]="'alert-info'" [clrAlertClosable]="false">
          <div class="alert-item">
            <span class="alert-text">
              No API Collections have been created
            </span>
          </div>
        </clr-alert>
      </li>
    
      <li *ngFor="let product of products">
        <a class="nav-link" routerlinkactive="active" [routerLink]="'/docs/apicollections/' +  product.slug " [ngClass]="{'active' : (selectedSlug === product.slug || selectedProductId === product.id) }">
          {{product.name}}
        </a>
      </li>
    </ul>
  </section>

  <section class="nav-group collapsible">
    <input id="apis" type="checkbox">
    
    <label for="apis">
      APIs 
      <button class="btn btn-sm btn-link pull-right" (click)="addApi($event)" [hasPermission]="[permissions.API.CREATE]">
        Add <clr-icon shape="plus-circle" title="Add API"></clr-icon>
      </button>
    </label>

    <ul class="nav-list">
      <li id="api-search-container" *ngIf="apis.length">
        <clr-icon shape="search"></clr-icon>
        <input id="api-search" [(ngModel)]="apiFilter" placeholder="Search APIs" type="text" style="width:100%;">
      </li>

      <li *ngIf="! apis.length" style="padding:0rem .25rem;">
        <clr-alert [clrAlertType]="'alert-info'" [clrAlertClosable]="false">
          <div class="alert-item">
            <span class="alert-text">
              No APIs have been created or published
            </span>
          </div>
        </clr-alert>
      </li>
      
      <li *ngFor="let api of apisFiltered">
        <a class="nav-link" routerlinkactive="active" [routerLink]="'/docs/api/' +  api.slug " [ngClass]="{'active' : (selectedSlug === api.slug || selectedApiId == api.id) }">
          {{ api.name }}

          <clr-tooltip>
            <clr-icon style="display: inline-block;" clrTooltipTrigger *ngIf="! api.published" class="is-highlight" shape="note"></clr-icon>
            <clr-tooltip-content *clrIfOpen>
              <span>In Draft Status</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </a>
      </li>
    </ul>
  </section>

</section>