<section id="blog-side-nav" class="sidenav-content">


  <section class="nav-group collapsible">
    <h4 class="text-center bottom-spacer-10">Recent Articles</h4>

    <ul class="nav-list">
      <li *ngFor="let blog of blogPosts" (click)="onBlogClick(blog)">
        <a class="nav-link" [class.active]="blog.id == currentId">
          <h4 class="bottom-spacer-5">{{ blog.title }}</h4>
          <p class="summary">
            {{ blog.summary }}
          </p>
          <div class="byline">
            <span class="pull-left">{{ blog.author }}</span>
            <span class="pull-right">{{ blog.publicationDate | date : 'MMMM dd, yyyy' }}</span>
          </div>
        </a>
      </li>
    </ul>
  </section>
</section>