:host {
    section.nav-group {
        margin-top: .5rem;

        h4 {
            text-decoration: underline;
        }

        ul.nav-list {
            padding : 0px;
            height: calc(100vh - 180px);
            overflow: scroll;

            li{
                border-bottom: 1px solid #bbb;
                margin-bottom: 20px;

                .nav-link {
                    padding: 0 .5rem .5rem;

                    .summary {
                        font-size : 12px;
                        margin-bottom: 10px;
                    }

                    .byline {
                        font-size: 10px;
                        font-weight: bold;
                    }
                }  
            } 
        }
    }
}