/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~tinymce/plugins/codesample/css/prism.css";

h1, h2, h3, h4, p {
    margin-top:0px !important;
}

form > section {
    margin : .5rem !important;
}

// Tooltip overrides / fixes

.tooltip-validation {
    height : auto !important;
}

.tooltip.tooltip-validation.invalid.textarea:before {
    top : -16px !important;
}

.tooltip.tooltip-validation.invalid.textarea{

    > textarea:focus+.tooltip-content {
        background-color:#c92100;
        visibility: visible;
        opacity: 1;
        top: auto !important;
    }

    > textarea {
        box-shadow: none;
        border: 1px solid #c92100;
    }

    ng-select {
        &.ng-select-focused+.tooltip-content {
            background-color:#c92100;
            visibility: visible;
            opacity: 1;
            top: auto !important;
        }

        .ng-select-container{
            border: 1px solid #c92100;
        }
    
    }
}

// ng-select overrides
.ng-value-container > .ng-input > input {
    width : calc(100% - 15px) !important;
}

// Form overrides
.container { 
    form.has-fixed-footer {
        margin-bottom: 50px;

        .fixed-footer {
            position: fixed;
            bottom: 0px;
            background-color: white;
            width: calc(100% - 215px);
            margin-left: -16px;
            padding: 0px 20px;
            border-top: 1px solid #ccc;
        }

        @media screen and (max-width:768px){
            .fixed-footer {
                width: 100%;
            }
        }

    }
}

// modal overrides
.modal-header {
    padding: 0px !important;
}

// router-outlet ~ * {
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }