<main class="content-area">

  <div class="container banner text-center inline full">
    <div class="padding">
      <h1>Learn How To Build With Pearson Products</h1>
      <h2 class="bottom-spacer-20">Explore, Develop, Launch</h2>

      <a class="btn btn-primary pull-left">
        <clr-icon shape="power" size="20"></clr-icon> Getting Started
      </a>

      <a class="btn btn-primary pull-right">
        <clr-icon shape="file-group" size="20"></clr-icon> Documentation
      </a>
    </div>
  </div>

  <div class="container main">

    <div class="row">

      <div class="col-md-4">
        <h3 class="text-center">Announcements</h3>
        <hr/>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Documentation</h3>
        <hr/>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Support</h3>
        <hr/>
      </div>

    </div>

  </div>

</main>