<main class="content-area content-center">

  <div class="container banner text-center inline full">
    <div class="padding inline full">
      <h1>Learn How To Build With Pearson Products</h1>
      <h2 class="bottom-spacer-20">Explore, Develop, Launch</h2>

      <a id="main-getting-started" [routerLink]="documentationLinks.GETTING_STARTED" class="btn btn-primary pull-left">
        <clr-icon shape="power" size="20"></clr-icon> Getting Started
      </a>

      <a id="main-documentation" [routerLink]="documentationLinks.DOCUMENTATION" class="btn btn-primary pull-right">
        <clr-icon shape="file-group" size="20"></clr-icon> Documentation
      </a>
    </div>
  </div>

  <div class="container highlights bottom-spacer-40 hidden-xs">
  
      <!-- <h2 class="text-center bottom-spacer-20">From prototype to product, faster and better</h2> -->
    
      <div class="row">
        <div class="col-sm-4">
          <h3 class="text-center text-primary">
            <clr-icon shape="lightbulb" size="25" class="is-info"></clr-icon>
            Product Based
          </h3>
          <p>
            We work closely with product teams to understand and solve the vast array of challenges they face.
          </p>
        </div>
    
        <div class="col-sm-4">
          <h3 class="text-center text-primary">
            <clr-icon shape="bolt" size="25" class="is-info"></clr-icon>
            Rapid development
          </h3>
          <p>
            Onboard faster with proven API development strategies and best practices.
          </p>
        </div>
    
        <div class="col-sm-4">
          <h3 class="text-center text-primary">
            <clr-icon shape="clock" size="25" class="is-info"></clr-icon>
            Evolving
          </h3>
          <p>
            Adapt to changes quickly and easily with the Pearson Developer Portal as a one-stop-shop for API Development.
          </p>
        </div>
      </div>
    
    </div>

  <div class="container main">

    <div class="row">

      <div class="col-md-4">
        <h3 class="text-left">
          <clr-icon shape="talk-bubbles" size="30"></clr-icon> 
          <span class="ml10">Announcements</span>

          <a title="See Annoucements from the API Team" [routerLink]="'/forum/category/' + announcementsCid" class="goto">
            <clr-icon class="is-highlight" shape="circle-arrow" size="30" dir="right"></clr-icon>
          </a>
        </h3>

        <hr class="bottom-spacer-20"/>

        <ul class="list-unstyled ml20 bottom-spacer-20">
          <li *ngFor="let blog of forumBlogs" class="bottom-spacer-10">
            <a [routerLink]="'/forum/topic/' + blog.slug" [innerHTML]="blog.title"></a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3 class="text-left">
          <clr-icon shape="file-group" size="30"></clr-icon>
          <span class="ml10">Documentation</span>

          <a id="documentation" title="Get started with Documentation" [routerLink]="documentationLinks.DOCUMENTATION" class="goto">
            <clr-icon class="is-highlight" shape="circle-arrow" size="30" dir="right"></clr-icon>
          </a>
        </h3>
        <hr class="bottom-spacer-20"/>
        
        <ul class="list-unstyled ml20 bottom-spacer-20">
          <li class="bottom-spacer-10">
            <a routerLink="/documentation/main">Overview</a>
          </li>

          <li class="bottom-spacer-10">
            <a id="consuming-apis" routerLink="/documentation/area/consuming_apis/getting_started_to_consume_apis">Consuming APIs</a>
          </li>

          <li class="bottom-spacer-10">
            <a  id="creating-apis" routerLink="/documentation/area/creating_apis/add_and_document_a_new_api">Creating APIs</a>
          </li>

          <li class="bottom-spacer-10">
            <a routerLink="/docs/api/search">APIs Catalog Search</a>
          </li>
        </ul>

      </div>

      <div class="col-md-4">
        <h3 class="text-left">
          <clr-icon shape="chat-bubble" size="30"></clr-icon>
          
          <span class="ml10">Support</span>
          
          <a title="Go to the Support Forum" [routerLink]="'/forum/category/' + supportCid" class="goto">
            <clr-icon class="is-highlight" shape="circle-arrow" size="30" dir="right"></clr-icon>
          </a>
        </h3>
        
        <hr class="bottom-spacer-20"/>

        <ul class="list-unstyled ml20 bottom-spacer-20">
          <li *ngFor="let blog of supportForums" class="bottom-spacer-10">
            <a [routerLink]="'/forum/topic/' + blog.slug">{{ blog.title }}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</main>