<div class="row bottom-spacer-10" *ngFor="let queryParam of params">

  <div class="col-sm-3">
    <label [class.required]="queryParam.required">
      <b>{{ queryParam.name }}</b>
    </label>
    <div>{{ queryParam.type }}</div>
    <div>(query)</div>
  </div>
  <div class="col-sm-9">
    
    <div class="bottom-spacer-10">{{ queryParam.description }}</div>

    <section class="form-block" *ngIf="edit">
      <div class="form-group">
        <input type="text" [attr.placeholder]="queryParam.name">
      </div>
    </section>

  </div>

</div>