:host {
    //display: none;

    .spinner.spinner-lg {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 10px);
        z-index: 1101;
    }

    #loading-text {
        position: absolute;
        z-index: 1101;
        color: #3c5e7f;
        font-size: 40px;
        top: calc(50% + 20px);
        left: calc(50%);
        background-color: #ddd;
        padding:20px;
        border-radius: 5px;
        display:none;
    }

    #loading-indicator {
        position: fixed;
        top: 0px;
        bottom: 0px;
        background-color: black;
        left: 0px;
        right: 0px;
        background-color: #000000;
        opacity: 0.5;
        z-index: 1100;
    }

    &.activeRequest {
        display: inline !important;
    }
}